@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

#root{
    font-family: 'Nunito Sans', sans-serif!important;
    text-decoration-color: #707070!important;
}

@font-face {
    font-family: Avenir;
    src: url(assets/avenir-font/Avenir-Book.ttf);
}

body{
    font-family: 'Nunito Sans', sans-serif!important;
    background-color: #eaeaea!important;
}

.MuiDrawer-paper button{
    display: none;
}
.unordered-lists{
    margin-top: -35%!important;
}